@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

body {
    font-family: 'Inter', 'Courier New', Courier, monospace;
    background: transparent;
    color: rgb(255, 255, 255);
    position: relative;
    display: block;
    min-height: 100vh;
}

body:before {
    z-index: -2;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0f172a;
    background: url('./assets/wall.png');
    background-size: cover;
    background-position: center;
}

input.file_upload[type="file"] {
    display: none;
}

/* Side section */

.side-section {
    width: 50%;
    height: 40%;
    background-color: #f8fafc;
    position: absolute;
    margin-left: 25%;
    margin-top: 15%;
    transform: translateY(0%);
}

.close_dialog {
    transform: translateY(-200%);
}

.mic_anim_default {
    background-color: rgba(209, 213, 219, 0);
}

.mic_anim {
    animation-name: mic_callout;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mic_callout {
    0% {
        background-color: rgba(209, 213, 219, 0);
    },
    50% {
        background-color: rgba(209, 213, 219, 1);
    },
    100% {
        background-color: rgba(209, 213, 219, 0);
    }
}

/* Progress Bar Styling */

.progress_container {
    background-color: rgba(209, 213, 219, 0.1);
    height: 12px;
    opacity: 0;
    border-radius: 4px;
}

.progress_bar {
    background-color: rgba(209, 213, 219, 1);
    width: 0%;
    height: 100%;
    border-radius: 4px;
    transition: none !important;
}

.search_photo {
    display: flex;
}

.upload_files {
    display: none;
}

.current_tab {
    background-color: #d1d5db;
    color: #0f172a;
}

/* Navigation Menu */

.nav-toggle-container {
    position: fixed;
    z-index: 9998;
    top: 10px;
    left: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-toggle-container {
        top: 10px;
        left: 20px;
    }
}

.nav-toggle-container .toggle {
    position: relative;
    transform: translate(-50%, 50%);
    width: 40px;
    height: 40px;
    background: transparent;
}

.nav-toggle-container .toggle span {
    position: absolute;
    width: 20px;
    height: 2px;
    background: #555555;
    transform: translate(150%, 0);
    transition: 0.25s;
    transition-delay: 0;
}

.nav-toggle-container .toggle span:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    top: -6px;
    background: #555555;
    transform: translate(0, 0);
    transition-property: top, transform;
    transition-delay: 0, 0.2s;
    transition-duration: 0.2s, 0.2s;
}

.nav-toggle-container .toggle span:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    top: 6px;
    background: #555555;
    transform: translate(0, 0);
    transition-property: top, transform;
    transition-delay: 0, 0.2s;
    transition-duration: 0.2s, 0.2s;
}

.nav-toggle-container .active span {
    background: transparent;
}

.nav-toggle-container .active span:before {
    top: 0px;
    transform: rotate(45deg);
    transition-delay: 0s, 0.2s;
}

.nav-toggle-container .active span:after {
    top: 0px;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.2s;
}

/* Keyword Section */

.nav_section {
    transform: translateX(-100%);
}

.section_open {
    transform: translateX(0);
}

.font_monospace {
    font-family: 'JetBrains Mono', monospace;
}
